{% extends "base.html" %} {% block start %}
<div class="container mt-5">
    <form
        class="col-6 mx-auto card p-3 shadow-lg"
        method="post"
        enctype="multipart/form-data">
        {% csrf_token %}

        <h2>Add Recipe</h2>
        <hr />
        <div class="mb-3">
            <label
                for="exampleFormControlInput1"
                class="form-label">
                Recipe Name
            </label>
            <input
                type="text"
                class="form-control"
                required
                name="recipe_name" />
        </div>
        <div class="mb-3">
            <label
                for="exampleFormControlTextarea1"
                class="form-label"
                >Recipe Details
            </label>
            <textarea
                class="form-control"
                rows="3"
                required
                name="recipe_description"></textarea>
        </div>
        <div class="mb-3">
            <label
                for="formFile"
                class="form-label"
                >Recipe Image</label
            >
            <input
                class="form-control"
                type="file"
                name="recipe_image" />
        </div>
        <button
            type="submit"
            class="btn btn-success">
            Add Recipe
        </button>
    </form>

    <br />
    <hr />

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Recipe Name</th>
                <th scope="col">Recipe Discription</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {%for item in recipes%}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{item.recipe_name}}</td>
                <td>{{item.recipe_description}}</td>
                <td>
                    <img
                        src="./media/{{item.recipe_image}}"
                        style="height: 100px" />
                </td>
                <td>
                    <a
                        href="/delete-recipe/{{item.id}}"
                        class="btn btn-danger"
                        >Delete</a
                    >
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{%endblock%}
